<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{% include 'navbar.html' %}

<form class="" action="data" method="post" class="center" style="padding-top: 10px; padding-left: 10px;">
  <input type="file" name="upload-file" value="" class="waves-effect waves-light btn red accent-3" class="center-align">
  <input type="submit" name="" action="add_transaction" value="Submit" class="waves-effect waves-light btn red accent-3">
</form>

<form action="get_chain" style="padding-left: 10px;">
  <input type="submit" name="" action="get_chain" value="Get Full Chain" class="waves-effect waves-light btn red darken-3">
</form>
